.idea
frontend/node_modules
frontend/build
frontend/dist
frontend/design-examples
auth-service/config/db.php
auth-service/.env
*.log
.DS_Store
Thumbs.db
/vendor
nb-back-end/.env
jwt-system-design.md
Designs
.vscode
nb-back-end/launch.json
nb-front-end/launch.json
nb-front-end/EC2RSAKeyPair.pem
nb-back-end/RSABungoBackend.pem
start-project.sh
