.documentIcon {
  width: 3rem;  /* Set the desired width in rem */
  height: 3rem; /* Set the desired height in rem */
  color: #555;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.menuBar {
  display: flex;
}

.editor {
  display: flex;
  justify-content: center;
}

.account {
  margin-left: auto; /* Pushes the Account component to the right */
}