/* General Grid Container Styles */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "sidebar search settings account"
    "sidebar suggested suggested suggested";
  gap: 10px;
  max-width: 1400px; /* Set the maximum width */
  margin: 0 auto; /* Center the grid horizontally */
  transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */
.gridContainer.light {
  background-color: #f0f0f0;
  color: #000;
}

.sidebar.light,
.search.light,
.settings.light,
.suggested.light,
.account.light {
  background-color: #ffffff; /* Light background */
  color: #000; /* Dark text */
}

/* Dark Theme */
.gridContainer.dark {
  background-color: #282c34;
  color: #fff;
}

.sidebar.dark,
.search.dark,
.settings.dark,
.suggested.dark,
.account.dark {
  background-color: #333; /* Darker background */
  color: #fff; /* Light text */
}

/* Sidebar Styles */
.sidebar {
  grid-area: sidebar;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 30px;
  transition: background-color 0.3s, color 0.3s;
}

/* Search Bar Styles */
.search {
  grid-area: search;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Settings Styles */
.settings {
  grid-area: settings;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Suggested Section Styles */
.suggested {
  grid-area: suggested;
  display: flex;
  background-color: #fff; /* Light background by default */
  transition: background-color 0.3s, color 0.3s;
}

/* Account Section Styles */
.account {
  grid-area: account;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}
