.menuWrapper {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    z-index: 1000;
    padding: 0.25rem 0;
    width: 10rem;
}

/* Style for the individual dropdown items */
.dropdownItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: left;
}

/* Hover effect for the dropdown items */
.dropdownItem:hover {
    background-color: #007bff; /* Change background color on hover */
    color: white; /* Change text color on hover */
}
