.suggestedContainer {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */
.suggestedContainer.light {
  background-color: #f0f0f0;
  color: #000;
}

.fileList.light .fileItem {
  background-color: #fff;
  color: #000;
}

.fileItem.light:hover {
  background-color: #e0e0e0;
}

.selected.light {
  background-color: #f0f0f0;
}

/* Dark Theme */
.suggestedContainer.dark {
  background-color: #282c34;
  color: #fff;
}

.fileList.dark .fileItem {
  background-color: #333;
  color: #fff;
}

.fileItem.dark:hover {
  background-color: #444;
}

.selected.dark {
  background-color: #3a3a3a;
}

/* General Styles */
.fileList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fileItem {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.dragging {
  opacity: 0.5;
}

.over {
  background-color: #d0d0d0;
}

.icon {
  margin-right: 8px;
  color: #555;
}

.selected {
  background-color: #f0f0f0;
}
