.suggestedContainer {
  padding: 20px;
  background-color: var(--bg-color); /* Dynamic background color */
  color: var(--text-color); /* Dynamic text color */
  transition: background-color 0.3s, color 0.3s;
}

.fileList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fileItem {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--bg-color); /* Dynamic item background */
  color: var(--text-color); /* Dynamic text color */
  transition: background-color 0.3s, color 0.3s;
}

.fileItem:hover {
  background-color: var(--file-item-hover-bg-color); /* Dynamic hover color */
}

.selected {
  background-color: var(--selected-bg-color); /* Dynamic selected color */
}

.dragging {
  opacity: 0.5;
}

.over {
  background-color: var(--drop-over-bg-color); /* Dynamic drop-over color */
}

.icon {
  margin-right: 8px;
  color: var(--icon-color); /* Dynamic icon color */
}
