.container {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .icon {
    font-size: 18px;
    margin-right: 8px;
  }
  
  .label {
    font-size: 14px;
  }
  
  .unselected {
    /* background-color: #fff; */
    color: #4a4a4a;
  }
  
  .selected {
    background-color: #e0e0e0;
    color: #333;
  }

  .over {
    background-color: #d0d0d0; /* Change this color as needed */
  }
  
  /* Add hover state */
  .container:hover {
    background-color: #f0f0f0; /* Highlight color on hover */
  }
  