/* Light Mode Variables */
:root {
  /* General Background & Text Colors */
  --bg-color: #f0f0f0;
  --text-color: black;
  
  /* Dropdown Menus */
  --dropdown-bg-color: white;
  --dropdown-hover-bg: #e0e0e0;
  --dropdown-border-color: #dadce0;
  
  /* Icons */
  --icon-color: #4a4a4a;
  --icon-bg-color: #f5f7fa;
  --icon-hover-bg: #e0e0e0;

  /* New Button */
  --new-btn-bg-color: #fff;
  --new-btn-hover-bg: #e6e6e6;

  /* Folders */
  --folder-hover-bg: #f1f3f4;
  --hover-bg-color: #f0f0f0;
  --over-bg-color: #d0d0d0;

  /* Modals */
  --modal-bg-color: #fff;
  --close-btn-bg: #f5f7fa;
  --close-btn-hover-bg: #e0e0e0;

  /* Editor */
  --editor-bg-color: #fff;
  --editor-text-color: black;

  /* File Items */
  --file-item-bg-color: #fff;
  --file-item-hover-bg-color: #e0e0e0;
  --selected-bg-color: #f0f0f0;
  --drop-over-bg-color: #d0d0d0;

  /* MenuBar */
  --menu-bg-color: #f0f0f0;
  --dropdown-item-hover-bg: #007bff;
  --dropdown-item-hover-text: #fff;
  --submenu-border-color: #ccc;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Search bar */
  --search-bg-color: #f0f0f0;
  --search-text-color: black;
  --search-icon-color: #4a4a4a;
  --search-placeholder-color: #a0a0a0;
  --search-border-color: #ccc;
  --search-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Variables */
[data-theme='dark'] {
  /* General Background & Text Colors */
  --bg-color: #282c34;
  --text-color: white;
  
  /* Dropdown Menus */
  --dropdown-bg-color: #444;
  --dropdown-hover-bg: #555;
  --dropdown-border-color: #666;
  
  /* Icons */
  --icon-color: #ccc;
  --icon-bg-color: #444;
  --icon-hover-bg: #555;

  /* New Button */
  --new-btn-bg-color: #555;
  --new-btn-hover-bg: #666;

  /* Folders */
  --folder-hover-bg: #555;
  --hover-bg-color: #444;
  --over-bg-color: #666;

  /* Modals */
  --modal-bg-color: #333;
  --close-btn-bg: #555;
  --close-btn-hover-bg: #666;

  /* Editor */
  --editor-bg-color: #444;
  --editor-text-color: white;

  /* File Items */
  --file-item-bg-color: #333;
  --file-item-hover-bg-color: #444;
  --selected-bg-color: #3a3a3a;
  --drop-over-bg-color: #666;

  /* MenuBar */
  --menu-bg-color: #333;
  --dropdown-item-hover-bg: #007bff;
  --dropdown-item-hover-text: #fff;
  --submenu-border-color: #666;
  --box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);

  /* Search bar */
  --search-bg-color: #444;
  --search-text-color: white;
  --search-icon-color: #ccc;
  --search-placeholder-color: #888;
  --search-border-color: #444;
  --search-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


